Source: eclipse-cdt
Section: devel
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Niels Thykier <niels@thykier.net>,
           Jakub Adam <jakub.adam@ktknet.cz>
Build-Depends: debhelper (>= 9.20120608~),
               default-jdk,
               dpkg-dev (>= 1.16.2~),
               eclipse-pde (>= 3.8~),
               eclipse-rse,
               javahelper (>= 0.32~),
               unzip,
               zip
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-java/eclipse-cdt.git
Vcs-Browser: http://git.debian.org/?p=pkg-java/eclipse-cdt.git
Homepage: http://www.eclipse.org/cdt/

Package: eclipse-cdt
Architecture: all
Depends: eclipse-platform (>= 3.8~),
         eclipse-cdt-jni (>= ${source:Version}),
         gcc,
         make,
         ${misc:Depends},
         ${orbit:Depends}
Suggests: g++
Description: C/C++ Development Tools for Eclipse
 The eclipse-cdt package contains Eclipse features and plugins that are
 useful for C and C++ development.
 .
 The current release function includes:
  * C/C++ Editor (basic functionality, syntax highlighting, code completion,
    etc.)
  * C/C++ Debugger (APIs & Default implementation, using GDB)
  * C/C++ Launcher (APIs & Default implementation, launches and external
    application)
  * Parser
  * Search Engine
  * Content Assist Provider
  * Makefile generator

Package: eclipse-cdt-jni
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: C/C++ Development Tools for Eclipse (JNI)
 The eclipse-cdt package contains Eclipse features and plugins that are
 useful for C and C++ development.
 .
 The current release function includes:
  * C/C++ Editor (basic functionality, syntax highlighting, code completion,
    etc.)
  * C/C++ Debugger (APIs & Default implementation, using GDB)
  * C/C++ Launcher (APIs & Default implementation, launches and external
    application)
  * Parser
  * Search Engine
  * Content Assist Provider
  * Makefile generator
 .
 This package contains architecture specific JNI libraries

Package: eclipse-cdt-autotools
Architecture: all
Depends: eclipse-cdt (= ${source:Version}),
         autoconf,
         automake,
         ${misc:Depends},
         ${orbit:Depends}
Description: Autotools support for Eclipse CDT
 The Autotools suite of plugins adds to the CDT a support for building and
 maintaining C/C++ projects that use Autotools. With this additional support,
 a vast repository of C/C++ code can be checked out, built, and maintained
 under the CDT rather easily without having to resort to the command line.
 .
 In conjunction with the CDT, the plugin can do the following:
  * Build a C/C++ project that uses a configure script or an autogen
    script or a Makefile.cvs script
  * Create a simple C or C++ hello world Autotools project via a template
  * Allow configuration parameters to be set via a gui and to rebuild when
    configuration parameters are changed
  * Colorized editing of configuration files such as configure.in, configure.ac,
    Makefile.am, and Makefile.in with full hover help for autoconf/automake
    macros
  * Allow specification of multiple build configurations for a single project
  * Run autotools such as autoconf, automake, or aclocal directly using a gui
    interface
  * Includes hover help for autoconf and automake macros in the editors

Package: eclipse-cdt-launch-remote
Architecture: all
Depends: eclipse-cdt (= ${source:Version}),
         eclipse-rse,
         ${misc:Depends},
         ${orbit:Depends}
Description: Remote launch and debug support for Eclipse CDT
 The eclipse-cdt package contains Eclipse features and plugins that are
 useful for C and C++ development.
 .
 This package allows one to upload and launch a C/C++ application on a remote
 host machine from within CDT. Remote debugging is also supported.
