#!/usr/bin/make -f

export JAVA_HOME:=/usr/lib/jvm/default-java
export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8"

BUILD_ID:=dist

DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
ifneq (,$(filter $(DEB_HOST_ARCH_CPU),i386 i486 i586 i686))
	ECLIPSE_BUILD_ARCH=x86
endif
ifneq (,$(findstring $(DEB_HOST_ARCH_CPU),arm))
	ECLIPSE_BUILD_ARCH=arm
endif
ifeq ($(DEB_HOST_ARCH_CPU),amd64)
	ECLIPSE_BUILD_ARCH=x86_64
endif
ifneq (,$(findstring $(DEB_HOST_ARCH_CPU),mips))
	ECLIPSE_BUILD_ARCH=$(DEB_HOST_ARCH)
endif
ifneq (,$(filter $(DEB_HOST_ARCH_CPU),parisc parisc64))
	ECLIPSE_BUILD_ARCH=PA_RISC
endif
ifeq ($(DEB_HOST_ARCH_CPU),powerpc)
	ECLIPSE_BUILD_ARCH=ppc
endif
ifeq ($(ECLIPSE_BUILD_ARCH),)
	ECLIPSE_BUILD_ARCH=$(DEB_HOST_ARCH_CPU)
endif

%:
	dh $@

# There is 'build' directory in the source tree colliding with 'build' target
.PHONY: build
build:
	dh $@

override_dh_auto_clean:
	# Do not use the auto-clean with ant.

override_dh_auto_build-indep:
	jh_generateorbitdir
	dh_auto_build -i

	build_bundle releng/org.eclipse.cdt
	build_bundle core/org.eclipse.cdt.core.native
	build_bundle core/org.eclipse.cdt.core
	build_bundle codan/org.eclipse.cdt.codan.core
	build_bundle core/org.eclipse.cdt.ui
	build_bundle codan/org.eclipse.cdt.codan.ui
	build_bundle codan/org.eclipse.cdt.codan.core.cxx
	build_bundle codan/org.eclipse.cdt.codan.ui.cxx
	build_bundle codan/org.eclipse.cdt.codan.checkers
	build_bundle codan/org.eclipse.cdt.codan.checkers.ui
	build_bundle debug/org.eclipse.cdt.debug.core
	build_bundle debug/org.eclipse.cdt.debug.ui
	build_bundle build/org.eclipse.cdt.make.core
	build_bundle build/org.eclipse.cdt.make.ui
	build_bundle build/org.eclipse.cdt.managedbuilder.core
	build_bundle build/org.eclipse.cdt.managedbuilder.ui
	build_bundle build/org.eclipse.cdt.build.gcc.core
	build_bundle doc/org.eclipse.cdt.doc.user
	build_bundle dsf/org.eclipse.cdt.dsf
	build_bundle dsf/org.eclipse.cdt.dsf.ui
	build_bundle native/org.eclipse.cdt.native.serial
	build_bundle build/org.eclipse.cdt.managedbuilder.gnu.ui
	build_bundle debug/org.eclipse.cdt.gdb
	build_bundle debug/org.eclipse.cdt.gdb.ui
	build_bundle launch/org.eclipse.cdt.launch
	build_bundle visualizer/org.eclipse.cdt.visualizer.core
	build_bundle visualizer/org.eclipse.cdt.visualizer.ui
	build_bundle bundles/org.eclipse.launchbar.core
	build_bundle dsf-gdb/org.eclipse.cdt.dsf.gdb
	build_bundle dsf-gdb/org.eclipse.cdt.dsf.gdb.ui
	build_bundle dsf-gdb/org.eclipse.cdt.dsf.gdb.multicorevisualizer.ui
	build_bundle memory/org.eclipse.cdt.debug.ui.memory.search
	build_bundle memory/org.eclipse.cdt.debug.ui.memory.traditional
	build_bundle memory/org.eclipse.cdt.debug.ui.memory.floatingpoint
	build_bundle memory/org.eclipse.cdt.debug.ui.memory.transport
	build_bundle memory/org.eclipse.cdt.debug.ui.memory.memorybrowser
	build_bundle qt/org.eclipse.cdt.qt.core
	build_bundle qt/org.eclipse.cdt.qt.ui
	build_bundle testsrunner/org.eclipse.cdt.testsrunner
	build_bundle testsrunner/org.eclipse.cdt.testsrunner.boost
	build_bundle testsrunner/org.eclipse.cdt.testsrunner.gtest
	build_bundle testsrunner/org.eclipse.cdt.testsrunner.qttest
	build_bundle testsrunner/org.eclipse.cdt.testsrunner.tap

MACROS_DIR=debian/.eclipse-build/org.eclipse.cdt.autotools.ui/macros
override_jh_setupenvironment:
	jh_setupenvironment
	mkdir -p $(MACROS_DIR)
	cd debian/docs && ./regenerateFromTexinfo.sh
	cp debian/docs/acmacros-*.xml debian/docs/ammacros-*.xml $(MACROS_DIR)

override_dh_auto_build-arch:
	cd core/org.eclipse.cdt.core.linux/library && \
		make JAVA_HOME="$(JAVA_HOME)" ARCH=$(ECLIPSE_BUILD_ARCH) CC='gcc -D_GNU_SOURCE' CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="$(LDFLAGS) -fPIC"

	cd native/org.eclipse.cdt.native.serial/jni && \
		gcc -shared -fPIC -I$(JAVA_HOME)/include -I$(JAVA_HOME)/include/linux -o serial.so serial.c

#override_jh_installeclipse-indep:
#	rm -f debian/eclipse-cdt-launch-remote/usr/share/eclipse/dropins/cdt-launch-remote/eclipse/plugins/org.eclipse.cdt.launch.remote.source*.jar

override_dh_clean:
	dh_clean
	jh_clean
	rm -rf debian/docs/*.xml
	find \( -name '*.o' -o -name '*.so' \) -delete

SOURCE=$(shell dpkg-parsechangelog -S Source)
VERSION=$(shell dpkg-parsechangelog -S Version | cut -d- -f1)
get-orig-source:
	uscan --force-download --download-version $(VERSION)

	wget http://git.eclipse.org/c/cdt/org.eclipse.launchbar.git/snapshot/org.eclipse.launchbar-62545585be60b38bc087faf6767a0214b32714b7.tar.xz \
		-O launchbar.orig.tar.xz

	mkdir debian/unpack
	tar xf ../$(SOURCE)_$(VERSION).orig.tar.xz -C debian/unpack --strip-components=1
	tar xf launchbar.orig.tar.xz -C debian/unpack --strip-components=1 --wildcards \
		'*/org.eclipse.launchbar.core/*' '*/org.eclipse.launchbar.ui/*'
	rm -f launchbar.orig.tar.xz ../$(SOURCE)_$(VERSION).orig.tar.xz
	
	cd debian && tar cJf ../$(SOURCE)_$(VERSION).orig.tar.xz unpack
	rm -rf debian/unpack

